<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
</head>
<body>
    <%- include('../partials/nav.ejs');%>
    <h1>This is index</h1>
    <a href="/download">Download</a>
    <%- include('../partials/react.ejs');%>
</body>
</html>
